@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease !important;
}

/* header starts------------------------------------------------------------------------------------------------------ */
.bg-blue{
    background-color: #161638 !important;
}
.text-green{
    color: #7EE73F;
}
.text-orange1{
    color: #DF523C !important;
}
header .nav-link:hover{
    color: #DF523C !important;
}
.header .navbar-toggler{
    border: wheat !important;
}
/* banner starts ---------------------------------------------------------------------------------------------------- */
.banner{
    background: url(../img/wallpaperflare-cropped.jpg);
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
}
.heading{
    line-height: 45px;
    padding-left: 39px;
    }
.subheading{
    line-height: 20px;
    padding-left: 29px;
    }
.banner .nav-item .active{
    background-color: #e02161;
    border-radius: 0px;
}
.banner button{
    width: 120px;
}
.banner .content2 form input{
    border-radius: 2px;
}
.banner .content2 .form-control {
    padding:0.375rem 0.10rem;
}
.banner .content2 form select{
    border-radius: 2px;
}
.banner .content2 .mb-3 {
    margin-bottom: 0px !important;
}
.banner .nav-item {
    background-color: #411f57;
    margin: 2px;
}
.banner .pill:hover{
    background-color: #e02161;
}
.bg-pink{
    background-color: #e02161;
}
.banner .content2 {
    background-color: hsla(276, 78%, 18%, 0.73);
    border-radius: 2px;
}
.banner .content2:hover {
    background-color: hsl(276, 78%, 18%,0.8);}
.banner .row>* {
    padding-left: 2px;
    padding-right: 2px;
}
.banner .content2 form .date::placeholder{
    text-align-last: justify;
 }
.banner .search:hover{
    background-color: hsl(255, 38%, 49%,0.7);
}
.banner form select{
    font-size: 14px !important ;
}
.banner .lastrow .span{
    cursor: pointer;
}
/* ---------------------------------------------Fun Section Starts ----------------------------------------------------- */
.fun{
    background: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url(../img/Arizona\ dessert\ mountainjpg.jpg);
    background-size: 100% 100%;
    width: 100%;
    min-height: 300px;
    color: #fff;
}
.block{
    height: 150px;
    width: 160px;
    background-color: hsl(0, 0%, 0%,0.7);
    font-size: 13.5px;
    cursor: pointer;
    border-radius: 6px;
}
.fun .block:hover{background: hsl(255, 38%, 49%,0.6);}
.fun .myrow{margin-top: 9px;}
/* ----------------------------------------newsletter section starts-------------------------------------------------- */
.newsletter{
    background: linear-gradient(rgba(32, 11, 73, 0.6),rgba(53, 20, 121, 0.6)),url(../img/air.jpg);
    width:100%;
    min-height: 300px;
    background-size: 100% 100%;
    color: #fff;
}
.newsletter .email input{
    width: 73%;
    padding: 6px 0px;
    border: 2px solid #fff;
}
.newsletter .email input::placeholder{
    color: #fff;
    padding-left: 6px;
}
.newsletter .email button:hover{
    background: #644dab;
    border: 0px #644dab;
    color: #fff;
}
/*  DESTINATION STARTS------------------------------------------------------------------------------------------------ */
.bg-purple{
    background-color: #161638;
}
.text-orange{
    color: rgb(226, 160, 37) !important;
}
.destination .card:hover{
    background-color: hsla(0, 0%, 100%, 0.7);
}
/*  ESTIMATE SECTION STARTS ------------------------------------------------------------------------------------------- */
.bg-violet{
    background-color: #654dad;
}
.estimate{
    width: 100%;
    min-height: 250px;
}
.estimate p{
    margin-bottom: 0px;
}
.estimate .row > *{
    padding-left: 0px;
}
.estimate .but:hover{
    color: #fff;
}
.estimate .date::placeholder{
    text-align-last: justify;
}
/* blog-------------------------------------------------------------------------------------------------------------- */
.imgs1{
    background: url(../img/blog.jpg);
    width: 100%;min-height: 120%;
    background-size: 100% 100%;
}
.imgs1:hover{
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url(../img/blog.jpg);
    width: 100%;min-height: 120%;
    background-size: 100% 100%;
}
.imgs2{
    background: url(../img/mom.jpg);
    width: 100%;min-height: 120%;
    background-size: 100% 100%;
}
.imgs2:hover{
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url(../img/mom.jpg);
    width: 100%;min-height: 120%;
    background-size: 100% 100%;
}
.blog hr{
    margin: 6px 0px;
}
.arrow{
    visibility: hidden;
}
.image:hover .arrow{
    visibility: visible;
    background-color: hsl(0, 0%, 0%,0.9);
    cursor: pointer;
}
/* footer starts ------------------------------------------------------------------------------------------------------ */
footer{
    background-image: linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.9)),url(../img/departure.jpeg);
    width: 100%;min-height: 300px;
    background-size: 100% 100%;
}
footer .bottom{
    margin-bottom: 0px;
}
footer .bottom li{
    padding-right: 21px;
    cursor: pointer;
    font-weight: 600;
}
footer  li:hover{
    color: #fff !important;
}
footer .bottom li:hover{
    color: #fff;
}
.sites li:hover{
    cursor: pointer;
    color: grey !important;
}
.logo2{transition: all 0.9s ease !important;}
.logo2:hover{
    transform: rotate(90deg);
}
.iconlist .ic:hover{color: #fff !important;}
.done:hover{
    color: #fff;
}
/* ============================================== RESPONSIVE DIMENSIONS =============================================== */
/* ==================================================================================================================== */
@media  screen and (max-width:1344px) {
    .coliseum{
        display: none;
    }
    /* .image:hover .arrow{
        display: none !important;
    } */
}
@media screen and (max-width:1200px) {
    .heading{
        padding-top: 50px;
        padding-left: 30px;
    }
    .subheading{
        padding-left: 25px;
    }
    .col-5 {
        width: 80%;
    }
    .banner .container form .search{
        border-radius: 0px !important;
        width: 90%;
    }
    .banner #span{
        padding-top: 9px;
    }
    .banner .container form .searchdiv{
        top:44px !important;
    }
    .py-5{
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }
    .lastrow{
        font-size: 13.5px;
    }
    .banner form select{
        font-size: 13.5px !important;
        padding: 7px !important;
    }
    .lastrow  select{
        font-size: 13.5px !important;
    }
    .block{
        height: 140px;
        width: 140px;
        font-size: 12.5px;
    }
    .newsletter .email input{
        width: 100%;
    }
    .newsletter .email button{
        margin-top: 6px !important;
        width: 100%;
    }
    .fs-3{
        padding-top: 20px;
        font-size: calc(1.1rem + .6vw)!important;
    }
    footer .bottom li{
        padding-right: 11px;
    }
}
@media screen and (max-width:992px) {
    .myrow{
        width: 90%;
        text-align: center;
        padding-left:15%;
    }
    .fun{
        background: linear-gradient(rgba(0, 0, 0, 0.7),rgb(0,0,0,0.1)),url(../img/road2.jpg);
        width: 100%;
        background-size: 100% 100%;
        height: auto;
        padding: 30px 0px !important;
    }
    .but{
        width: 85.5%;
    }
    footer{
        background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url(../img/flight.jpg);
        background-size: 100% 100%;
        width: 100%;height: auto;
    }
    footer .bottom li{
        padding-right: 4px;
        font-size: 14px !important;
    }
}
@media screen and (max-width:768px) {
    .banner{
        background: linear-gradient(rgba(32, 11, 73, 0.3),rgba(53, 20, 121, 0.3)),url(../img/banner6.gif);
        width: 100%;
        height: 690px;
        background-size: 100% 100%;
    }
    .heading{
        font-size: 26px !important;
        line-height: 30px;
    }
    .subheading{
        font-size: 19px !important;
        line-height: 15px;
    }
    .col-5 {
        width: 60%;
    }
    .banner .container form .searchdiv{
        top:125px !important;
    }
    .banner .container form .search{
       width: 100%;
    }
    .lastrow{
        font-size: 13.5px;
        display: grid !important;
        grid-template-columns: auto auto !important;
    }
    #link{display: none;}
    #end{float: inline-end;}
    .blog .col-md-8{
        width: 90% !important;
    }
}
@media screen and (max-width:575px) {
    .banner .lastrow .dis{
        display: none;
    }
    .banner button{
        width: 110px;
        font-size: 15px;
    }
    .banner .container {
        width: 93%;
    }
    .banner .container form .searchdiv{
        top:317px !important;
    }
    .heading{
        font-size: 29px !important;
    }
    .subheading{
        font-size: 21px !important;
    }
    .col-5 {
        width: 90%;
    }
    .fun{
        background:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url(../img/road.jpg);
        width: 100%;
        background-size: 100% 100%;
        height: auto;
        padding: 30px 0px !important;
    }
    .but{
        width: 100%;
    }
    .newsletter{
        padding-top: 15px !important;
        background-image: linear-gradient(rgba(32, 11, 73, 0.3),rgba(53, 20, 121, 0.6)),url(../img/newsletter.jpg);
        background-size: 100% 100%;
        width: 100%;
        height: auto;
    }
    .blog .img-fluid{
        height: 373px;
    }
    .pb-3{
        padding-bottom: 5rem !important;
    }
    footer{
        background:  linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url(../img/departure1.jpeg);
        background-size: 100% 100%;
        width: 100%;height: auto;
    }
}
@media screen and (max-width:406px) {
    .lastrow {
       font-size: 11px;
    }
    .lastrow select {
        font-size: 11px !important;
     }
     .banner .container form .searchdiv{
        top:312px !important;
    }
    .blog .img-fluid{
        height: 250px;
    }
}
@media screen and (max-width:380px) {
    .banner .container form .searchdiv{
        top:310px !important;
    }
    .banner button{
        width: 100px;
        font-size: 15px;
    }
}
@media screen and (max-width:350px) {
    .block{
        height: 130px;
        width: 130px;
        font-size: 12px;
    }
    .fun .row>*{
        padding-right: 0px;
    } 
    .banner button{
        width: 90px;
        font-size: 13px;
    }
    .banner .container form .searchdiv{
        top:308px !important;
    }
}
@media screen and (max-width:321px) {
    .block{
        height: 120px;
        width: 120px;
        font-size: 11px;
    }
    .banner .container form .searchdiv{
        top:307px !important;
    }
    .banner button{
        width: 80px ;
    }
    .banner .icons{
        display: none;
    }
}
@media screen and (max-width:291px) {
    .banner .span{
        font-size: 10px;
    }
    .banner button{
        font-size: 10px;
    }
    .nav-link {
        padding: 10px 0px;
    }
}


